# SPDX-License-Identifier: GPL-3.0-only
[Desktop Entry]
Name=AlmaLinux Creative Installer
Comment=One-button installer for creative apps on AlmaLinux
Exec=almalinux-creative-installer
Icon=almalinux-creative-installer
Terminal=false
Type=Application
Categories=System;Settings;
